/* G3 Architecture - Main Stylesheet
   Author: Ali Hossen
   Version: 1.0.0 */

/* Universal Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 25px;
  background-color: #ff900e;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #fb8600;
  box-shadow: 0 4px 15px rgba(195, 106, 4, 0.395);
}

.section-title {
  font-size: 2.8125rem;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.text-primary {
  color: #ff900e;
}

.text-secondary {
  color: #ffffff;
}

.text-dark1 {
  color: #000000;
}

.text-dark2 {
  color: #727272;
}

.text-dark3 {
  color: #131313;
}

/* Header & Navigation Style */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 3rem 0 2.5rem;
}

.header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .container .nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-menu a:hover {
  color: #000000;
}

.header .navbar {
  margin-bottom: 102px;
}

/* Hero Section Style */
.hero-container {
  text-align: center;
}

.hero-content .hero-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero-content .hero-description {
  margin-bottom: 2rem;
  max-width: 868px;
  margin-left: auto;
  margin-right: auto;
}

.hero-container .hero-content {
  margin-bottom: 50px;
}

.hero-container .hero-image {
  width: 100%;
}

/* Features Section Style */
.features-container {
  display: flex;
  align-items: center;
  gap: 73px;
  max-width: 1318px;
  margin: 85px auto 130px;
}

.features-container .team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.features-content .features-title {
  font-size: 2.8125rem;
  margin-bottom: 24px;
}

#quick-list {
  font-weight: 500;
}

.features-content .features-description {
  margin-bottom: 32px;
}
